
.box {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    transform-style: preserve-3d;
    animation-name: parent;
}


.back {
    background: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translateZ(20px);
    animation-name: back;
    transform-style: preserve-3d;
}

.back::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;

    left: 0;
    top: 0;
    transform: translateZ(-1px);
}

.front {
    background: red;
    width: 200px;
    height: 200px;
    position: absolute;
    animation-name: front;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}

.front::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;

    transform: translateZ(-1px);
}

.animate {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
}

@keyframes parent {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(1turn) ;
    }
}

@keyframes front {

    from {
        transform: rotateZ(0) rotatex(0) rotateY(0) translateZ(40px);
    }
    to {

        transform: rotateZ(1turn) translateZ(40px);
    }
}

@keyframes back {
    from {
        transform: rotateZ(1turn) translateZ(40px);
    }
    to {
        transform: rotateZ(0) rotatex(0) rotateY(0) translateZ(40px);
    }
}


